<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar Posto</title>
</head>
<body>
    <form method="post">
        <h1>Adicionar Posto de Recarga</h1>
        <label>Nome do Posto:</label>
        <input type="text" name="nome" readonly><br>
        
        <label>Localização:</label>
        <input type="text" name="localização" readonly><br>
        
        <label>Km:</label>
        <input type="text" name="km" readonly><br>

        <label>Latitude:</label>
        <input type="text" name="lat" readonly><br>

        <label>Longitude:</label>
        <input type="text" name="lon" readonly><br>

        <label>Total por Tipo:</label>
        <input type="text" name="total" readonly><br>

        <button type="submit">Adicionar Posto</button>
    </form>
    <br>
    <br>
    <div class="voltar"><a href="index.html"><button>Voltar</button></a></div>
</body>
</html>
